@import "styles/theme";

.cardList {
    width: 347px;
    height: 218px;
    overflow-y: scroll;
}

.container {
    display: grid;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    
    grid-template-columns: repeat(3, minmax(15rem, 1fr));
    grid-template-rows: repeat(6, minmax(33rem, 1fr));
    
    grid-template-areas: 
    "building building building"
    "building building building"
    "bureau bureau bureau"
    "persons persons persons"
    "occupation occupation occupation ";
    
  
    
    @include from("l") {
        grid-template-columns: repeat(3, minmax(21rem, 1fr));
        grid-template-rows: repeat(3, minmax(33rem, 1fr));
        
        grid-template-areas: 
        "building building building"
        "building building building"
        "bureau persons occupation";
  
    }
    height: 90%;
    max-width: calc(100vw - 6rem);
  }
  
  .bureau, .persons {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .building {
    height: 100%;
    grid-area: building;
  }
  
  
  
  .bureau {
    grid-area: bureau;
  }
  
  .persons {
    grid-area: persons;
  }
  
  .occupation {
    grid-area: occupation;
  }