@import "styles/theme";

.floorsContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.floors {
  background-size: cover;
  font-family: map-get($fonts, "title");
  width: 90%;
  margin-left: 5%;

  path {
    stroke: map-get($primary-colors, "coral");
    stroke-width: 4;
    fill: rgba(254, 119, 112, 0.28);
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
  }

  path:hover {
    opacity: 1;
  }
}

.visible {
  opacity: 1 !important;
}

.text {
  color: map-get($neutral-colors, "shuttle-gray");
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
}

.number {
  font-size: 30px;
  color: map-get($primary-colors, "coral");
}

.first {
  background-image: url("../../assets//images/etage1.png");
}
.second {
  background-image: url("../../assets//images/etage2.png");
}
