.container {
  height: 600px;
  width: 300px;
  background-color: beige;
  position: relative;

  .alert {
    position: absolute;
    top: 0;
    height: 100px;
    width: 100%;
    transition: transform 0.3s ease;
    &.success {
      background-color: green;
    }
    &.info {
      background-color: blue;
    }
    &.warning {
      background-color: yellow;
    }
    &.error {
      background-color: orange;
    }
  }
}
