@import "styles/theme";

.emptyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.container {
  display: grid;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-columns: 1fr;
  grid-template-rows: auto repeat(4, minmax(25rem, 1fr));
  grid-template-areas:
    "building building building"
    "list list list"
    "persons persons persons"
    "occupation occupation occupation ";

  @include from("l") {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto repeat(2, minmax(33rem, 0.5));

    grid-template-areas:
      "building building building building"
      "persons list list list"
      "occupation occupation occupation occupation";
  }

  @include from("xl") {
    grid-template-rows: auto repeat(2, minmax(33rem, 0.5fr));

    grid-template-areas:
      "building building building building"
      "list list list persons"
      "occupation occupation occupation .";
  }
  height: 90%;
  max-width: calc(100vw - 6rem);
}

.customCard {
  padding-bottom: 100px;
}

.bureau,
.persons {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.building {
  height: 100%;
  grid-area: building;

  .containerContent {
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
}

.listContainer {
  grid-area: list;
  position: relative;
  .list {
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.persons {
  grid-area: persons;
}

.occupation {
  grid-area: occupation;
}

.emptyText {
  font-size: 3rem;
  color: map-get($neutral-colors, "bombay");
}
