@font-face {
    font-family: "HelveticaNeueBold";
    src: url("../assets/fonts/HelveticaNeue-Bold.woff");
    font-weight: 700;
}

@font-face {
    font-family: "HelveticaNeueMedium";
    src: url("../assets/fonts/HelveticaNeue-Medium.woff");
    font-weight: 500;
}

@font-face {
    font-family: "HelveticaNeueRegular";
    src: url("../assets/fonts/HelveticaNeue.woff");
    font-weight: 400;
}

