@import "./mixins";

$primary-colors: (
  "background": rgba(253, 250, 250, 1),
  "coral": rgba(237, 114, 112, 1),
  "melon": rgba(242, 170, 161, 1),
  "aquamarine": rgba(185, 253, 217, 1),
  "middle-blue-green": rgba(153, 218, 199, 1),
  "white": rgba(255, 255, 255, 1),
);

$alerts-colors: (
  "alert-red": rgba(219, 90, 58, 1),
  "warning-orange": rgba(226, 153, 55, 1),
  "success-green": rgba(102, 188, 108, 1),
  "information-blue": rgba(45, 111, 222, 1),
  "alert-red-2": rgba(250, 237, 234, 1),
  "warning-orange-2": rgba(253, 248, 235, 1),
  "success-green-2": rgba(237, 247, 239, 1),
  "information-blue-2": rgba(231, 239, 249, 1),
);

$neutral-colors: (
  "black": rgba(0, 0, 0, 1),
  "bright-gray": rgba(45, 47, 57, 1),
  "shuttle-gray": rgba(102, 103, 105, 1),
  "bombay": rgba(163, 164, 168, 1),
  "athens-gray-1": rgba(223, 225, 230, 1),
  "athens-gray": rgba(244, 245, 247, 1),
  "white": rgba(255, 255, 255, 1),
);

$fonts: (
  "title": "Helvetica Neue Regular",
);

$screens: (
  m: 768px,
  l: 930px,
  desktop: 1050px,
  xl: 1290px,
);
