@import "styles/theme";

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  font-family: 'HelveticaNeueMedium';
  color: map-get($neutral-colors, "athens-gray-1");
  
  @include from("m") {
    gap: 2rem;
    font-size: 20px;
  }

  span {
    white-space: nowrap;
  }
  svg {
    margin: 0 10px;
    @include from("m") {
      margin: 0;
    }
  }
}

.initial {
  cursor: pointer;
}

.isActive {
  color: map-get($primary-colors, "coral");
}
