@import "styles/theme";

.breadcrumb {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 20px;
  font-family: 'HelveticaNeueMedium';
  color: map-get($neutral-colors, "athens-gray-1");
  gap: 2rem;

  span {
    white-space: nowrap;
  }
}

.initial {
  cursor: pointer;
}

.isActive {
  color: map-get($primary-colors, "coral");
}
