@import "styles/theme";

.breadcrumb {
  display: flex;
  width: 300px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 20px;
  font-family: map-get($fonts, "title");
  color: map-get($neutral-colors, "athens-gray-1");
}

.initial {
  cursor: pointer;
}

.isActive {
  color: red;
}

