@import "styles/theme";

.containerBusyTime {
  margin-top: 1rem;
  max-width: 400px;
  width: 110%;
  height: 100px;
  @include from(m) {
    width: 80%;
  }

  svg {
    path[name]:not([fill="#ED7270"]) {
      cursor: pointer;
      opacity: 0.8;
      &:hover {
        opacity: 1;
      }
    }

    g {
      g {
        line[type="category"],
        text[type="category"] {
          display: none !important;
        }
      }
      g:nth-child(2n + 1) {
        line[type="category"],
        text[type="category"] {
          display: block !important;
        }
      }
    }
  }
}
