@import "styles/theme";

.card {
    background: map-get($primary-colors, "background");
    @include shadow;
    border-radius: 15px;
    padding: 20px;

    
    h3 {
        font-family: map-get($fonts, "title");
        font-size: 16px;
        color: map-get($neutral-colors, "bombay");
        text-align: left;
        width: 90%;
        padding-left: 5%;
        position: relative;
            &:before {
                position: absolute;
                bottom: -10px;
                content: "";
                width: 100%;
                margin: auto;
                height: 1px;
                background-color:map-get($neutral-colors, "athens-gray-1"); 
            }
    }
}