@import "styles/theme";

.card {
    background: map-get($neutral-colors, "white");
    @include shadow;
    border-radius: 15px;
    padding: 20px;

    h3 {
        font-family: map-get($fonts, "title");
        font-size: 16px;
        color: map-get($neutral-colors, "bombay");
    }
}