@import "styles/theme";

.header {
  width: calc(100vw - 6rem);
  height: 6rem;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  border-bottom: 2px solid map-get($neutral-colors, "athens-gray");
  background-color: map-get($primary-colors, "white");
}

.title {
  font-family: map-get($fonts, "title");
  font-size: 3rem;
  color: map-get($neutral-colors, "athens-gray-1");
}