@import "styles/theme";

.spacesMenu {
  position: fixed;
  top: 6rem;
  left: 6rem;
  z-index: 9;
  min-width: 20rem;
  height: calc(100vh - 6rem);
  padding: 2.5rem 1rem;
  border-right: 2px solid map-get($neutral-colors, "athens-gray");
  background-color: map-get($neutral-colors, "white");
  transform: translateX(-20rem);
  transition: all 0.4s linear;
}
.spacesMenuOpen {
  transform: translateX(0rem);
}
.title {
  font-family: "Helvetica Neue Regular";
  font-size: 2.5rem;
  text-transform: uppercase;
  margin-bottom: 2rem;
  padding-left: 2rem;
  color: map-get($neutral-colors, "bombay");
}
.floor {
  height: 25px;
  margin-bottom: 1.5rem;
  overflow: hidden;
  clip-path: inset(0px 0px -25px 0px);
  transition: clip-path 0s ease-out, height 200ms ease-out;
}
.floorOpen {
  margin-bottom: 1.5rem;
  clip-path: inset(0px 0px 0px 0px);
  transition-delay: 200ms, 0s;
}
.itemFloor {
  margin-bottom: 1rem;
  padding-left: 2rem;
}
.itemRoom {
  margin-bottom: 0.5rem;
  padding-left: 3rem;
}
.itemActive {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  border-radius: 20px;
  background-color: map-get($primary-colors, "coral");
}
