@import "styles/theme";

.container {
  display: grid;
  grid-column-gap: 40px;
  grid-row-gap: 40px;

  height: 90%;
  max-width: calc(100vw - 6rem);

  grid-template-columns: 80vw;
  grid-template-rows: repeat(6, 300px);

  grid-template-areas:
    "building"
    "building"
    "alerts"
    "alerts"
    "bureau"
    "persons";

  // PHONE > 500
  @include from("s") {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-template-rows: repeat(3, 1fr);

    grid-template-areas:
      "building building alerts"
      "building building alerts"
      "bureau persons alerts";
  }

  // DESKTOP > 1290
  @include from("xl") {
    grid-template-columns: 7fr;
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
      "bureau building  building building alerts alerts alerts"
      "persons building building building alerts alerts alerts";
  }
}

.bureau,
.persons {
  height: 100%;
}

.building {
  height: 100%;
  grid-area: building;
  .buildingImg {
    margin-top: 40px;
  }
}

.alerts {
  height: 100%;
  grid-area: alerts;
  @include from("l") {
    min-width: 300px;
  }
}

.bureau {
  grid-area: bureau;
  @include from("l") {
    min-width: 300px;
  }
}

.persons {
  grid-area: persons;
}
