@import "styles/theme";

.buildingContainer {
  width: 100%;
  max-height: 100%;
}

.building {
  max-height: 100%;
  max-width: 100%;
  background-image: url("../../assets//images/building.png");
  background-size: cover;
  font-family: map-get($fonts, "title");

  path {
    stroke: map-get($primary-colors, "coral");
    stroke-width: 4;
    fill: rgba(254, 119, 112, 0.28);
    opacity: 0;
    transition: opacity 0.2s;
    cursor: pointer;
  }

  path:hover {
    opacity: 1;
  }
}

.text {
  color: map-get($neutral-colors, "shuttle-gray");
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  height: 40px;
  width: 100%;
  font-feature-settings: "tnum";
  font-variant-numeric: tabular-nums;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  span {
    margin-left: 5px;
    font-size: 30px;
    color: map-get($primary-colors, "coral");
  }
}
