@import "styles/theme";

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 48vw auto;
  column-gap: 28px;
  row-gap: 28px;

  @include from("m") {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 48vw auto;
  }

  @include from("desktop") {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(2, 240px);
  }
}

.graphCard {
  @include from("m") {
    grid-column: span 2;
    grid-row: auto;
  }

  @include from("desktop") {
    grid-column: auto;
    grid-row: span 2;
  }
}
